{
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "quoteProps": "consistent",
    "useTabs": false
}
