   * {
       margin: 0;
       padding: 0;
       font-family: 'Poppins', sans-serif;
   }

   canvas {
       display: block;
       margin: 0 auto;
       background-color: #f0f0f0;
       border-radius: 0 0 5px 5px;
       border: 2px solid #e0e0e0;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

   }

   body {
       text-align: center;
       background-color: #F7F3EF;
   }

   h1 {
       margin-top: 20px;
       font-size: 1em;
   }

   #scoreBoard {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       width: 800px;
       margin: 0 auto;
       justify-content: center;
       margin-top: 20px;
       background-color: #332B27;
       color: white;
       padding: 10px 0;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
       border-radius: 5px 5px 0 0;
       border-right: 2px solid #e0e0e0;
       border-left: 2px solid #e0e0e0;
       border-top: 2px solid #e0e0e0;
   }